Repository klpurves/PANCHANGE_scripts, pull requests merged in 2020-07, with the labels that each got.

#4 Changing yaml date to system date to reflect latest update
  PANCHANGE_data_preprocessing2020-07-15.Rmd
Labels: Administrative

#6 Adding workflow document to git
  PANCHANGE_workflow_2020-07-20.txt
Labels: Administrative

#19 Transfered all comments in script into action points on github
  PANCHANGE_data_preprocessing2020-07-15.Rmd
Labels: Administrative, Data cleaning

#11 Update README.md
  README.md
Labels: Administrative

#20 Cleaning total score oci kt
  PANCHANGE_data_preprocessing2020-07-15.Rmd
Labels: Administrative, Data cleaning

#22 Added source chunk for data path and amended data chunks
  PANCHANGE_data_preprocessing2020-07-15.Rmd
Labels: Administrative, Data cleaning

#23 Review processing script kt
  PANCHANGE_data_preprocessing2020-07-15.Rmd
Labels: Data cleaning
